<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="card card-green">
        <span class="card-number">1</span>
        <div class="card-footer">
            <span class="card-waiting">3 senhas em espera</span>
        </div>
    </div>

    <div class="card card-blue">
        <span class="card-number">2</span>
        <div class="card-footer">
            <span class="card-waiting">3 senhas em espera</span>
        </div>
    </div>

    <div class="card card-pink">
        <span class="card-number">3</span>
        <div class="card-footer">
            <span class="card-waiting">3 senhas em espera</span>
        </div>
    </div>
    <a href="{{ url_for('senhas') }}" class="btn-senhas">Gerir Senhas</a>
</body>
</html>