<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senhas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="senhas-body">

    <div class="half half-left">
        <h2 class="half-title">Nova Senha</h2>
        <div class="btn-group-vertical">
            <button class="senha-btn btn-left">Serviço A</button>
            <button class="senha-btn btn-left">Serviço B</button>
            <button class="senha-btn btn-left">Serviço C</button>
        </div>
    </div>

    <div class="half half-right">
        <h2 class="half-title">Finalizar Atendimento</h2>
        <div class="btn-group-vertical">
            <button class="senha-btn btn-right">Serviço A</button>
            <button class="senha-btn btn-right">Serviço B</button>
            <button class="senha-btn btn-right">Serviço C</button>
        </div>
    </div>

</body>
</html>