*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('./imagens/background_image.png');
    background-size: cover;
}

table{
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 10px auto;
    background-color: rgb(137, 137, 137);
}
table tr td{
    width: 180px;
    height: 180px;
    border: 4px solid  black;
    font-size: 35px;
    text-align: center;
    background-size: cover;
} 
table tr td:hover{
    background-color: rgb(84, 86, 86);
}
.wins{
    width: 240px;
    height: 60px;
    background-color:rgb(201, 201, 201);
}
.wins:hover{
    background-color:rgb(146, 237, 255);
}
.winsLabel{
    width: 240px;
    height: 35px;
}
#winsLabelX{
    background-color: rgb(255, 255, 109);
}
#winsLabelO{
    background-color: rgb(238, 238, 238);
}



#resetDiv{
    display: flex;
    justify-content: center;
    width: 100%;
}

#reset{
    visibility: hidden;
    color: rgb(0, 0, 0);
    width: fit-content;
    box-sizing: border-box;
    font-size: 38px;
}
    