<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZ</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Quiz de Perguntas</h1>
            <p>Teste os seus conhecimentos</p>
        </div>
        <div class="button-group">
            <button type="button" class="btn-primary" onclick="window.location.href='/question/1'">Iniciar Quiz</button>
        </div>
    </div>
</body>
</html>